.a{color: maroon; font-size: 100px; text-align: center;}

.b{color: firebrick ; font-size: 30px; font-family: fantasy;}

.c{background-color: mediumaquamarine ; padding: 20px;}

.d{background-color: salmon; color: midnightblue;}